@model IEnumerable<WidgetContent>

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">WidgetContent</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="WidgetContent" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Create New WidgetContent
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="WidgetContentTable">
            <thead>
                <tr>
                    <th>WidgetContent Category</th>
                    <th>WidgetContent Name</th>
                    <th>Description</th>
                    <th>Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.WidgetContentCategory.Name</td>
                        <td>@obj.Name</td>
                        <td>@Html.Raw(obj.Description)</td>
                        <td>@obj.Order</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                @{
                                    if (User.IsInRole(SD.Role_Admin))
                                    {
                                        if (obj.IsActive)
                                        {
                                            <a asp-controller="WidgetContent" asp-action="ChangeStatusWidgetContent" asp-route-widgetContentId="@obj.Id"
                                               class="btn btn-success mx-2">
                                                <i class="bi bi-play-fill"></i> Active
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="WidgetContent" asp-action="ChangeStatusWidgetContent" asp-route-widgetContentId="@obj.Id"
                                               class="btn btn-warning mx-2">
                                                <i class="bi bi-pause-fill"></i> Disable
                                            </a>
                                        }
                                    }

                                }
                                <a asp-controller="WidgetContent" asp-action="Update" asp-route-widgetContentId="@obj.Id"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Update
                                </a>
                                @{
                                    if (obj.IsActive == false)
                                    {
                                        <a asp-controller="WidgetContent" asp-action="Delete" asp-route-widgetContentId="@obj.Id"
                                           class="btn btn-danger mx-2">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    }
                                    else
                                    {
                                        <button disabled title="Please active to delete"
                                                class="btn btn-danger mx-2">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </button>
                                    }
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#WidgetContentTable').DataTable();
        });
    </script>
}