@model IEnumerable<Menu>
<div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="index.html">
        <img src="~/assets/images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
    </a>
    <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
        <div class="input-group input-group-lg">
            <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast"
                   aria-label="Search">

            <button type="submit" class="form-control" id="submit">
                <i class="bi-search"></i>
            </button>
        </div>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-lg-auto">
            @{
                foreach (var item in Model)
                {
                    var obj_1 = (from p in Model where p.ParentId == item.Id select p).ToList();
                    if (obj_1.Count > 0 && item.TreeView == 1)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">@item.MenuName</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                @{
                                    foreach (var subItem in obj_1)
                                    {
                                        var obj_2 = (from p in Model where p.ParentId == subItem.Id select p).ToList();
                                        if (obj_2.Count > 0 && subItem.TreeView == 2)
                                        {
                                            <li><a class="dropdown-item" href="@subItem.MenuLink">@subItem.MenuName has child</a></li>
                                        }
                                        else if (subItem.TreeView == 2)
                                        {
                                            <li><a class="dropdown-item" href="@subItem.MenuLink">@subItem.MenuName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else if (item.TreeView == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@item.MenuLink">@item.MenuName</a>
                        </li>
                    }
                }
            }
            @* <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item" href="listing-page.html">Listing Page</a></li>

            <li><a class="dropdown-item" href="detail-page.html">Detail Page</a></li>
            </ul>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
            </li> *@
        </ul>
        <div class="ms-4">
            <a asp-controller="Account" asp-action="Login" class="btn custom-btn custom-border-btn smoothscroll">Login</a>
        </div>

    </div>
</div>
